# python related files
*.pyc
*/__pycache__/
annarchy

# grpc compiled files
*.pb.cc
*.pb.h
*_pb2_grpc.py 
*_pb2.py 

# testing files
test_*.py

# results
*.npy

# application
version.py
/build
/dist
*.egg-info/
*.so
iCub_ANN_Interface/iCub/*.cpp
iCub_ANN_Interface/Sync/*.cpp

# VSCode files
*.clang-format
*.vscode*

# Filesystem
.directory

